<div class="hd">
    <h1 class="page_title">有点庆幸</h1>
    <p class="page_desc">明天的你，会庆幸今天的付出</p>
</div>
<div class="weui_grids">
  <a href="#/word" class="weui_grid js_grid" data-id="button" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_button.png" alt="">
      </div>
      <p class="weui_grid_label">
          背单词
      </p>
  </a>
  <a href="#/cell" class="weui_grid js_grid" data-id="cell" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui_grid_label">
          阅读
      </p>
  </a>
  <!-- <a href="#/panel" class="weui_grid js_grid" data-id="panel" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_panel.png" alt="">
      </div>
      <p class="weui_grid_label">
          教师资格证
      </p>
  </a>
  <a href="#/toast" class="weui_grid js_grid" data-id="toast" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_toast.png" alt="">
      </div>
      <p class="weui_grid_label">
          产品知识
      </p>
  </a>
  <a href="#/dialog" class="weui_grid js_grid" data-id="dialog" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_dialog.png" alt="">
      </div>
      <p class="weui_grid_label">
          运营知识
      </p>
  </a>
  <a href="#/progress" class="weui_grid js_grid" data-id="progress" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_progress.png" alt="">
      </div>
      <p class="weui_grid_label">
          前端面试题
      </p>
  </a>
  <a href="#/msg" class="weui_grid js_grid" data-id="msg" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_msg.png" alt="">
      </div>
      <p class="weui_grid_label">
          导游资格证
      </p>
  </a> -->
  <!-- <a href="#/article" class="weui_grid js_grid" data-id="article" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_article.png" alt="">
      </div>
      <p class="weui_grid_label">
          Article
      </p>
  </a>
  <a href="#/actionsheet" class="weui_grid js_grid" data-id="actionsheet" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_actionSheet.png" alt="">
      </div>
      <p class="weui_grid_label">
          ActionSheet
      </p>
  </a>
  <a href="#/icons" class="weui_grid js_grid" data-id="icons" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_icons.png" alt="">
      </div>
      <p class="weui_grid_label">
          Icons
      </p>
  </a> -->
  <a href="#/case" class="weui_grid js_grid" data-id="searchbar" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_search_bar.png" alt="">
      </div>
      <p class="weui_grid_label">
          公益项目
      </p>
  </a>
  <a href="#/user" class="weui_grid js_grid" data-id="tab" ng-click="showBlock()">
      <div class="weui_grid_icon">
          <img src="/images/icon_nav_tab.png" alt="">
      </div>
      <p class="weui_grid_label">
          个人中心
      </p>
  </a>

</div>
